<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @check == 'new' %>
    <div class="field">
      <%= form.label :partner %>
      <%= form.text_field :partner %>
    </div>
  <% else %>

    <div class="field">
    <%= form.label :알람 %>
      <%= form.select(:alarmstat, ['대기','생성', '거부' ], {}, { :class => 'my_style_class' }) %>
    </div>

    <div class="field">
      <%= form.label :'알람 시간' %>
      <%= form.datetime_local_field :time_ago %>
    </div>

    <div class="field">
      <%= form.label :'약속 장소' %>
      <%= form.text_field :address %>
    </div>
    
    <div class="field">
      <%= form.label :'약속 날짜' %>
      <%= form.date_select :date %>
    </div>

    <div class="field">
      <%= form.label :'약속 시간' %>
      <%= form.time_select :time %>
    </div>  
  
    <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
