<p id="notice"><%= notice %></p>


<% if @post.alarmstat %>
<p>
  <strong>알람:</strong>
  <%= @post.alarmstat %>
</p>
<% end %>

<% if @post.time_ago %>
<p>
  <strong>알람 시간:</strong>
  <%= @post.time_ago %>
</p>
<% end %>

<p>
  <strong>약속 상대:</strong>
  <%= @post.partner %>
</p>

<% if @post.address %>
<p>
  <strong>약속 장소:</strong>
  <%= @post.address %>
</p>
<% end %>

<% if @post.phone %>
<p>
  <strong>Phone:</strong>
  <%= @post.phone %>
</p>
<% end %>

<% if @post.date %>
<p>
  <strong>약속 날짜:</strong>
  <%= @post.date %>
</p>
<% end %>

<% if @post.time %>
<p>
  <strong>약속 시간:</strong>
  <%= @post.time.hour %>시 <%= @post.time.min %>분
</p>
<% end %>


  <% if @post.alarmstat != '거부' && @post.time && @post.date && @post.time_ago %>
    <hr> 
      <%= @post.partner %> 님과의 <span style="color:blue;"><%= @post.date %></span> 날짜   <span style="color:blue;"> <%= @post.time.hour %>시 <%= @post.time.min %>분</span> 시간으로 <br>
      <span style="color:blue;"><%= @post.address %> </span> 에서 약속이 잡혔습니다~! <br>
      <span style="color:red;"><%= @post.time_ago %> </span>에 알려드릴게요! :)
    <hr>
  <% end %>

<%= link_to '알람 설정', edit_post_path(@post) %> |
<a href="/posts/alarm_off/<%=@post.id%>">알람 거부</a>

<br>
<%= link_to 'Back', posts_path %>
<hr>
<h3>Chats</h3>

<div id="chatbox" style="height:30vh;width:45vh;overflow:scroll;border:1px solid; border-radius:10px;">
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td> &nbsp 나 : </td>
        <td style="width:30vh"><%= chat.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


<%= render 'chats/form', chat: @chat %>

<script>
  var objDiv = document.getElementById("chatbox")
  objDiv.scrollTop = objDiv.scrollHeight;
</script>